:root {
  --gold: #eaa500;
  --gray: #282c34;
  --lt-gray: #555;
  --white: white;
  --black: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  color: var(--white);
}

body {
  background-color: var(--gray);
  font-family: system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 1rem;
}

h2 {
  font-size: 2vw;
  text-align: center;
}

h3 {
  font-size: 1vw;
  text-align: center;
}

h3.detail {
  margin: 1rem;
}

p {
  max-width: 50vw;
  margin: 1rem auto;
  text-align: left;
}

ul {
  max-width: 50%;
  display: block;
  margin: auto;
}

ul.nav {
  background-color: var(--gold);
  padding: 1rem;
  margin: 0;
  position: sticky;
  width: 100%;
  text-align: center;
  max-width: 100%;
}

li {
  margin: 0 1rem;
}

li.nav {
  text-decoration: none;
  display: inline-block;
  color: var(--black);
  margin: 0 1rem;
}

a {
  color: var(--black);
  text-decoration: none;
}

a:hover {
  color: var(--lt-gray);
}

img.por {
  width: 100%;
  height: 16vw;
  object-fit: cover;
  margin: 1rem;
}

img.por-full {
  width: 50%;
  height: 25vw;
  object-fit: cover;
  display: block;
  margin: auto;
}

div.grid {
  width: 31.5%;
  margin: 1rem;
  display: inline-block;
}

/* MEDIA QUERIES */

@media screen and (max-width: 992px) {
  p {
    max-width: 90%;
    margin: 1rem auto;
    text-align: left;
  }

  h2 {
    font-size: 3rem;
  }
  
  h3 {
    font-size: 2rem;
  }

  li.list {
    text-align: left;
  }

  img.por {
    width: 100%;
    height: 30%;
    object-fit: cover;
    margin: auto;
  }

  img.por-full {
    width: 98%;
    height: 30%;
    object-fit: cover;
    margin: auto;
  }

  ul {
    max-width: 100%;
  }

  div.grid {
    width: 98%;
    display: block;
    margin: 1rem auto;
  }
}