:root {
  --gold: #eaa500;
  --gray: #282c34;
  --white: white;
  --black: black;
}

* {
  margin: 0;
  color: var(--white);
}

body {
  background-color: var(--gray);
  font-family: system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

a li:hover {
  color: var(--white)
}

h1 {
  margin: 1rem;
}

h2 {
  font-size: 2vw;
}

h3 {
  font-size: 1vw;
  margin: 1rem;
}

p {
  max-width: 30vw;
  margin: 1rem auto;
}

nav {
  background-color: var(--gold);
  padding: 1rem;
  position: fixed;
  width: 100%;
  margin: auto;
}

ul {
  padding: 0;
}

li {
  color: var(--gray);
  display: inline-block;
  margin: 0 1rem;
}

li.list {
  display: block;
  color: var(--white);
  margin: 0;
}

img.ch-por {
  max-width: 30vw;
  margin: 1rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 992px) {
  p {
    max-width: 90%;
    margin: 1rem auto;
    text-align: left;
  }

  h2 {
    font-size: 3rem;
  }
  
  h3 {
    font-size: 2rem;
  }

  li.list {
    text-align: left;
  }

  img.ch-por {
    max-width: 90%;
    margin: 1rem;
  }
}